@import url("https://fonts.googleapis.com/css?family=Open+Sans:700&display=swap");
body {
  background-color: var(--background-color);
  background-size: cover;
  overflow-x: hidden;
}

.topnav {
  overflow: hidden;
  text-align: center;
}

.topnav a {
  float: none;
  display: inline-block;
  color: #808080;
  text-align: left;
  padding: 30px;
  text-decoration: none;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
}

.topnav a:hover {
  color: var(--navColor);
  text-decoration: underline;
  -webkit-text-decoration-color: var(--underLin);
          text-decoration-color: var(--underLin);
}

.topnav .icon {
  display: none;
}

.containers {
  display: inline-block;
  cursor: pointer;
}

.bar1 {
  width: 35px;
  height: 5px;
  background-color: var(--navColor);
  margin: 6px 10px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.bar2 {
  width: 35px;
  height: 5px;
  background-color: var(--underLin);
  margin: 6px 0px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.bar3 {
  width: 35px;
  height: 5px;
  background-color: var(--navColor);
  margin: 6px 10px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
  background-color: var(--underLin);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

/*------------*/
.rollover {
  display: block;
  text-align: center;
  font-size: 5vw;
  padding-bottom: 55px;
  margin: 25px auto;
  color: var(--underLinTo);
  text-transform: uppercase;
  -webkit-text-decoration: underline var(--underLin);
          text-decoration: underline var(--underLin);
  font-family: 'Open Sans', sans-serif;
}

/*----------------------------------*/
.holder {
  padding: 20px;
  background-color: var(--HolderColor);
  height: 100%;
  max-width: 1000px;
  bottom: 0px;
  margin: -25px auto;
  border-radius: 15px 15px 0px 0px;
}

.Cont_hed {
  padding: 15px;
  background-color: #808080;
  max-width: 800px;
  margin: 25px auto;
  border-radius: 5px;
}

.Cont_hed #img {
  font-size: 5rem;
  margin: auto;
  width: 60%;
  text-align: center;
}

.Cont_hed__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 30px;
}

.Cont_hed__EL-Holder-ul {
  list-style: none;
  left: -25px;
  width: 75%;
}

.Cont_hed__EL-Holder-ul__li {
  text-transform: uppercase;
  border-bottom: 1px solid var(--underLin);
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
  color: #f3f3f3;
  font-family: 'Raleway', sans-serif;
}

.Cont_hed__EL-Holder-ul__li-P {
  border-bottom: 1px solid transparent;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  color: #f3f3f3;
}

.Cont_hed__EL-Holder-ul__li-P-hid {
  border-bottom: 1px solid transparent;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  color: #f3f3f3;
  -webkit-transition: 6s;
  transition: 6s;
}

.Cont_hed__EL-Holder-ul__li-P .Heding {
  -webkit-text-decoration: underline var(--underLin);
          text-decoration: underline var(--underLin);
}

.Cont_hed__EL-Holder-ul__li-P .HiddenShower {
  color: #cdcbcb;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  cursor: pointer;
  font-size: 14px;
  background-color: transparent;
  padding: 2px;
  border-radius: 3px;
  border: none;
}

.Cont_hed__EL-Holder-ul__li a {
  color: #cdcbcb;
  margin: 4px;
  text-decoration: none;
  cursor: pointer;
  font-size: 14px;
  background-color: #4A4848;
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 3px;
}

.Cont_hed__button {
  display: block;
  margin: 15px auto;
  width: 70%;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  background-color: #565554;
  text-align: center;
  border-radius: 12px;
  cursor: pointer;
  color: #cdcbcb;
  font-size: 13px;
  font-weight: initial;
  padding: 8px;
  text-decoration: none;
}

.Cont_hed__button:active {
  text-decoration: none;
  background-color: #4A4848;
}

/*----------------------------------*/
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav .active {
    text-align: left !important;
    display: none;
  }
}
/*# sourceMappingURL=Code.css.map */