body {
    background-color: var(--background-color);
    background-size: cover;
    overflow-x: hidden;
}
.ifram{

    display: block;
    text-align: center;
   
    margin:  auto;
   
}

.logo-home {

    display: block;
    margin: 25px auto;
    width: 10%;
    padding: 15px;
    border-radius: 15px;
    color: var(--underLin);
    background-color: var(--HolderColor);
    text-align: center;
    cursor: pointer;
}

 .h{
    margin: 0px auto !important;
    display: block;
     
}